extend layout

block content
	p.
		Dans le cadre de notre Travail Pratique Encadré nous avons décidé d’aborder le thème des avancées scientifiques et réalisations techniques face aux défis du XXIème siècle. 
		Nous avons préféré le thème de l'intelligence artificielle pour notre projet. Tout d’abord, à partir de ce thème et avec nos connaissances personnelles, nous nous sommes 
		intéressés au sujet des algorithmes et plus particulièrement à celui des « systèmes experts », outils numériques capables de remplacer l’Homme dans diverses tâches qui lui 
		sont confiées. Ensuite nous avons réfléchi au divers aspects de l’intelligence humaine qui pourraient être remplacés par une intelligence artificiellement créée et en avons 
		conclu que les 5 sens (toucher, goût, odorat, vue et ouïe) étaient des sujets adéquats. Enfin nous nous sommes rendus compte que ces mêmes « systèmes experts » pouvaient 
		éventuellement pallier aux troubles de nos  sens, et qu’ils pouvaient peut être constituer une alternative à la médecine dans des domaines où celle-ci n’a pas encore de 
		solution. Or nous savons que des solutions pour l’ouïe, le toucher et la vue existent déjà, nous avons donc choisi  d’étudier l'odorat, un sens pourvu de nombreux troubles.
	p.
		Ainsi notre réflexion préliminaire nous a conduits à nous poser la question suivante:
	.widget
		h1 Peut-on créer des systèmes experts capables de pallier aux troubles olfactifs des êtres humains ?
	.space
	p.
		Pour tenter  de répondre à cette interrogation, nous avons articulé notre projet en trois parties.
	p.
		Dans un premier temps, nous nous intéresserons aux troubles du système olfactif et à leurs caractéristiques, puis nous introduirons la notion de "systèmes experts", outils 
		numériques qui pourraient présenter une solution à ces divers dysfonctionnements, pour ensuite proposer des moyens à mettre en œuvre pour pallier aux troubles de l'olfaction, 
		entre autres, un "nez intelligent".