doctype
html
	head
		title #{title} - Le nez artificiel
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			.widget
				p TPE
				h3 2014-2015
			h1 Le nez artificiel
			img(src='http://static.wixstatic.com/media/262dbc_8ee69e7aa61099a9e765868f15039c70.png_srz_p_130_70_75_22_0.50_1.20_0.00_png_srz')
		.panel
			block panel
				.widget
					h1 Sommaire
					ul#section
						li
							h2 <a href="/"> Introduction </a>
						li
							h2 I. Le système olfactif
						li 
							|A. 
							a(href="/11") Le fonctionnement  du système olfactif
						li
							|B. 
							a(href="/12") Comment est caractérisée une odeur? 
						li
							|C. 
							a(href="/13") Les troubles du système olfactif
						li
							h2 II. Les systèmes experts
						li
							|A. 
							a(href="/21") Qu'est-ce qu'un système expert? 
						li
							|B. 
							a(href="/22") Les algorithmes, cœur des systèmes experts 
						li
							|C. 
							a(href="/23") Exemples de systèmes experts dans la médecine (palier aux troubles de la vue) 
						li
							h2 III. Palier aux dysfonctionnements du système olfactif
						li
							|A. 
							a(href="/31") Moyen de remplacer la carte mentale réelle par un système expert
						li
							|B. 
							a(href="/32") Recherche et développement: "le nez électronique", projet
						li
							|C. 
							a(href="/33") Les limites de cette conception
						li
							h2 <a href="/end"> Conclusion </a>
		.container
			.widget
				.PageNumber
				h1 #{section}
				if subpart != null
					h2 #{subpart}
			.main-content
				block content
	script(type='text/javascript').
		setActivePage = function(index) {
			console.log(index)
			var pages, _ref;
			if ((_ref = document.querySelector('.main-content .Page.Active')) != null) {
				_ref.classList.remove('Active');
				console.log(_ref.classList)
			}
			pages = document.querySelectorAll('.main-content .Page');
			pages[index].classList.add('Active');
			document.querySelector('.main-content').dataset.pageIndex = index;
			document.querySelector('.PageNumber').textContent = "" + (index + 1) + " / " + pages.length;
		};

		startPageIndex = 0;

		/*if (window.location.hash.length > 0) {
			_ref = window.location.hash.slice(1).split(';'), sectionIndex = _ref[0], startPageIndex = _ref[1];
			sectionIndex = (sectionIndex | 0) - 1;
			startPageIndex = (startPageIndex | 0) - 1;
		}*/

		//document.querySelector(".main-content section.Item-" + startMenuItem.dataset.itemName).classList.add('Active');

		setActivePage(startPageIndex);

		document.addEventListener('keydown', function(event) {
			console.log(event)
			var pageIndex, pages, sectionIndex;
			pageIndex = 0;
			pages = document.querySelectorAll('.main-content .Page');
			console.log(pages.length)
			switch (event.keyCode) {
				/*case 38:
					sectionIndex = Math.max(sectionIndex - 1, 0);
					setActiveSection(sectionIndex);
					break;
				case 40:
					sectionIndex = Math.min(sectionIndex + 1, menuItems.length - 1);
					setActiveSection(sectionIndex);
					break;*/
				case 37:
					pageIndex = Math.max(pageIndex - 1, 0);
					setActivePage(pageIndex);
					break;
				case 39:
					pageIndex = Math.min(pageIndex + 1, pages.length - 1);
					setActivePage(pageIndex);
				}
			});

	footer
		p Créer par Anastassia KRAIMPS, Clara MARIE et Guillaume THIVOLET
		.github
			a(href="https://github.com/Keriz/LeNezArtificiel"): img(src="https://github.com/favicon.ico")
		a(href="mailto: guillaume.thivolet@gmail.com"): img(src="https://www.mozilla.org/thunderbird/img/favicon.ico")
			