extend layout

block content
	p.
		La fascination de l'homme face aux machines existe depuis toujours et à joué un rôle moteur dans les travaux de recherche qui ont débouché sur cette nouvelle activité 
		appelée “intelligence artificielle”. Ce terme, prétentieux soit-il, traduit ce rêve éternel des hommes qui, déjà dans l'antiquité, tentaient de réaliser des machines capables 
		de reproduire, de manière artficielle, leurs comportements, tant physiques qu'intellectuels. Une légende ancienne parle de tables à 3 pieds munis de roulettes, se déplaçant 
		seules dans le palais des Dieux, tandis qu'au XVIIIème siècle Jacques de Vaucanson réalisait des automates tout à fait remarquables. Même si les avis sont partagés, 
		aujourd'hui l'informatique permet d'approcher le comportement humain, tels les <b>Systèmes Experts</b>.
	.widget
		p.
			Un système expert permet l'expression d'un savoir résultant généralement d'une expérience cumulée dans un domaine précis. Ces connaissances traduisent un mode de 
			raisonnement et peuvent s’exprimer par des règles telles que : «SI telle condition est vérifiée ALORS effectuer telle action».
	p.